* {
  margin: 0;
  padding: 0;
}
.top-nav {
  /* width: 1920px;
  margin: auto; */
  background-color: #1d2026;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .details {
    display: flex;
    padding-left: 32px;
    gap: 10px;
    li:nth-child(1) {
      border-top: 2px solid #ff6636;
      color: white;
    }
  }
  .lang {
    display: flex;
    padding-right: 32px;
  }
  li {
    list-style-type: none;
    padding: 16px;
    color: #8c94a3;
    font-family: inter;
    font-weight: 500;
    font-size: 14px;
  }
}

.nav-two {
  /* width: 1920px;
  margin: auto; */
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9eaf0;
  .logo-browes-search {
    display: flex;
    gap: 8px;
    img {
      width: 153px;
      height: 40px;
    }
  }
  #browes {
    width: 200px;
    height: 48px;
    margin-left: 50px;
    padding: 12px 18px;
    border: 1px solid #e9eaf0;
    color: #4e5566;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  #search {
    width: 424px;
    height: 48px;
    margin-left: 16px;
    padding: 12px 18px;
    border: 1px solid #e9eaf0;
    color: #8c94a3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    .fev-bel-cart {
      display: flex;
      gap: 24px;
      padding-right: 12px;
    }
    .auth {
      display: flex;
      gap: 12px;
      margin-left: 12px;
      button:nth-child(1) {
        width: Hug (168px) px;
        height: Hug (48px) px;
        padding: 0px 24px 0px 24px;
        gap: 12px;
        opacity: 0px;
        border: none;
        background: #ffeee8;
        color: #ff6636;

        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.008em;
        text-align: left;
      }
      button:nth-child(2) {
        padding: 0px 24px 0px 24px;
        height: 48px;
        background: #ff6636;
        border: none;
        color: white;

        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.008em;
        text-align: left;
      }
    }
  }
}
